

<!DOCTYPE html>
<html lang="fr">
<head>

      <title>H&ocirc;tels Hammamet, Tunisie</title>
  
  <!--<base href="//www.voyages2000.com.tn" />-->
  <meta name="description" content="" />
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
   <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/4.8.3/css/bootstrap-slider.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.min.css"/>
   
    <link rel="stylesheet" href="/stylesheets/commun.min.css?v=44405.3130903" type="text/css">
  
</head>
<body>

<!-- Header -->

<header> 
  <!-- Bloc only on PC  -->
  <div class=" d-none d-sm-block">
    <nav class="navbar  navbar-expand-md  navbar-dark bg-info py-md-3 principal-nav-pages" data-toggle="affix"  id="mainNav">
      <div class="container">

          <a class="navbar-brand " href="/"><img src="/images/logo-white.png" alt="voyages2000" title="" class="img-fluid"></a>
          <button class="navbar-toggler navbar-toggler-right align-self-center mt-3" type="button" data-toggle="collapse" data-target="#navbarCollapse">
             <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse flex-column ml-lg-0 ml-3" id="navbarCollapse">
             <ul class="navbar-nav flex-row mb-3 ml-md-auto hidden-sm nav-hide-scroll">
                  <li class="nav-item align-self-center mr-3">
                   <script type="text/javascript">
                      /*<![CDATA[*/
                      var emailriddlerarray=[105,110,102,111,64,118,111,121,97,103,101,115,50,48,48,48,46,99,111,109,46,116,110]
                      var encryptedemail_id87='' //variable to contain encrypted email 
                      for (var i=0; i<emailriddlerarray.length; i++)
                       encryptedemail_id87+=String.fromCharCode(emailriddlerarray[i])

                      document.write('<a href="mailto:'+encryptedemail_id87+'" class="nav-link">info@voyages2000.com.tn</a>')
                      /*]]>*/
                    </script> 
                  </li>
                  <li class="nav-item">
                      
                      <a class="btn btn-warning rounded-25 font-14" href="tel:0021670029230" target="_blank">+216 70 02 92 30</a>
                 </li>
              </ul>
                <ul class="navbar-nav ml-md-auto">
                 <li class="nav-item active">
                      <a class="nav-link" href="/">Hôtels</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/maisons-dhotes.html">  Maisons d'hôtes</a>
                      <li>
                      
                      
                      
                      
                      
                      <li class="nav-item">
                          <a class="nav-link" href="/promos-hotels/">Promos</a>
                      </li>
                      
                       <li class="nav-item">
                          <a class="nav-link" href="/billetterie.html">Billeterie</a>
                      </li>
                       
                       
                      <li class="nav-item">
                          <a class="nav-link" href="/contact.html">Contact</a>
                      </li>
                </ul>
          </div>
      </div>
    </nav>
  </div>
  <ul class="lg-bar2 list-unstyled d-none d-sm-block">
        <li>

            <script type="text/javascript">
              /*<![CDATA[*/

              /***********************************************
              * Encrypt Email script- Please keep notice intact
              * Tool URL: http://www.dynamicdrive.com/emailriddler/
              * **********************************************/
              <!-- Encrypted version of: tourisme8 [at] ***********.***.** //-->

              var emailriddlerarray=[116,111,117,114,105,115,109,101,56,64,118,111,121,97,103,101,115,50,48,48,48,46,99,111,109,46,116,110]
              var encryptedemail_id87='' //variable to contain encrypted email 
              for (var i=0; i<emailriddlerarray.length; i++)
               encryptedemail_id87+=String.fromCharCode(emailriddlerarray[i])

              document.write('<a href="mailto:'+encryptedemail_id87+'"><img src="/images/email.png" alt="email"></a>')

              /*]]>*/
              </script>
        </li>
        <li>
            
            <a href="tel:0021670029230" target="_blank" rel="nofollow">
              <img src="/images/mobile-phone.png" alt="phone">
            </a>
        </li>
        <li>
            <a href="http://m.me/Voyages2000.com.tn" target="_blank" rel="nofollow">
              <img src="/images/messenger.png" alt="messenger">
            </a>
        </li>
  </ul>

  <!-- Bloc only on PC  -->
    <!-- Bloc only on Mobile  -->
    <div class=" d-block d-sm-none ">
      <div class="bg-white px-3 py-1  d-flex justify-content-between shadow">

        <a class="navbar-brand " href="/"><img src="/images/logo-vert.png" alt="voyages2000" title="" class="img-fluid hidden-md text-center" width="120"></a> 
       <div class="ml-md-auto align-self-center">
          <div>
            
            <a href="tel:0021670029230" target="_blank" rel="nofollow">+216 70 02 92 30</a>
          </div>

          <div class="text-right"><a class="pl-2 align-self-center" data-toggle="collapse" href="#col-menu-mobile" role="button" aria-expanded="false" aria-controls="col-menu-mobile"> <i class="fas fa-bars text-dark text-center fa-2x"></i>  </a> </div>
        </div>
      </div>
          <div class="d-pc-visible bloc-mob collapse" id="col-menu-mobile" style="">
              <div class="pb-2 border-bottom">
                <div class="d-flex">
                    <span class="text-primary font-weight-600">  Menu </span>
                    <a class="ml-auto text-danger" data-toggle="collapse" href="#col-menu-mobile" aria-expanded="true" aria-controls="col-menu-mobile">
                       <i class="fas fa-times fa-lg"></i>
                     </a>
              </div>
            </div>
              <ul class="navbar-nav">
                <li class="nav-item active">
                <a class="nav-link" href="/">Hôtels</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/maisons-dhotes.html">  Maisons d'hôtes</a>
                <li>
                
                 
                 
                 
                 <li class="nav-item">
                    <a class="nav-link" href="/billetterie.html">Billeterie</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/promos-hotels/">Promos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact.html">Contact</a>
                </li>
              </ul>
            </div>
    </div>
    <!-- Bloc only on Mobile  -->

</header>

<!-- /Header -->
<section class="py-4 hidden-sm"> 
  <div class="container">
        <div class="row">
            <div class="col-md-12">              
                <h3 class="text-info mb-2">Hôtels à Hammamet</h3>              
                <span class="">
                  
                    <i class="fas fa-map-marker-alt text-muted mr-1"></i> Hammamet, Tunisie <i class="far fa-calendar-alt text-muted mr-1  ml-1"></i> 
                    02 août 2021 - 03 août 2021 (1 nuit) <i class="fas fa-users text-muted mr-1  ml-1"></i>              
                    2 adultes 
                </span>
            </div>
         <!--    <div class="col-md-4 text-right">
            <a class="link-search btn btn-info rounded-25 px-3 text-white">
               Modifier <i class="fas fa-chevron-down pl-2"></i>
             </a>
         </div> -->
          </div>
     </div>
</section>

<section> 
  <div class="container ">
    <div class="d-md-none d-lg-none p-2 border my-2 menu-recap font-12 ">
            
              <a class="link-search font-12 " data-toggle="collapse" href="#collapseEdit" role="button" aria-expanded="false" aria-controls="collapseEdit">
               <div class="row">
                   <div class="col-4 border-right">
                         02 août 2021 <br> 03 août 2021  
                   </div>
                   <div class="col-8">
                       <div class="d-flex flex-row">
                          <div class="">
                             Hammamet, Tunisie <small> (<span class="view total"></span> <span class="txt-hotel"></span> ) </small>
                            <div>
                              2 adultes 
                            </div>
                          </div>
                           <div class="align-self-center ml-auto"> <i class="fas fa-angle-down ml-3"></i> </div>
                         </div>
                       </div>
                 </div>
              </a>
          
    </div>
</div>
<div class="collapse d-md-block " id="collapseEdit">
  <div class="bg-primary box-edit position-relative engine py-3">
      <div class="container">
        <div class="hidden-md">
          <div class="d-flex  border-bottom pb-2 mb-2">
            <h2 class=" h4 font-weight-500 mb-0 text-white">  Modifier votre recherche </h2>

              <a class="ml-auto text-danger hidden-md" data-toggle="collapse" href="#collapseEdit" aria-expanded="true" aria-controls="collapseEdit">
                <i class="fas fa-times fa-lg"></i></a>
          </div>
       </div>
       <form role="form" name="searchForm" id="searchForm" class=" searchForm-list px-xs-3" action="/hotels/search.cfm" method="get" autocomplete="off">
  
  <input type="hidden" name="token" value="7DCEDF21A226434A0B0F787C74B0E68FED499253">
  <input type="hidden" name="rooms" value="1" id="rooms">
  <input type="hidden" name="destinationId" id="destinationId" value="3">
  <input type="hidden" name="hotelId" id="hotelId" value="">  
  <input type="hidden" name="rating" id="rating" value=""> 

  <div class="row  d-flex justify-content-center">
    <div class="col-md-3 pr-md-1">
      <div class="form-group validator1">
        <div class=" position-relative">
          <label for="locality"   class="text-white">Destination</label>
          <input name="locality" id="locality" value="Hammamet" required="" placeholder="Ville ou nom d'h&ocirc;tel" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-md-3 px-md-1 js-datepicker">
      <div class="row no-gutters">
          <div class="col-6">
            <div class="form-group validator1 ">
              <div class="position-relative">
                <label for="arrDate" class="text-white">Arriv&eacute;e</label>
                <input  name="arrDate" id="arrDate" placeholder="jj/mm/aaaa" value="02/08/2021" required="" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group validator1 ">
              <div class="position-relative">
                  <label for="depDate" class="text-white"> D&eacute;part </label>
                  <input name="depDate" id="depDate" value="03/08/2021" required="" placeholder="jj/mm/aaaa" class="form-control">
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-4 px-md-1">
      <div class="form-group validator1">
        <div class="position-relative">
          <label    class="text-white" >Chambres & Occupation</label>
          <div class="form-control ">
            <div class="g-container">
              <span class="search-guests"> <span class="persons guests-select persons-v2">
                <div class="totalhotel">
                  <span class="valRoomstshotel" title="Chambres"></span> <i class="txt-room" title="Chambres"></i>
                  <span class="valAdultshotel" title="Adultes"></span> <i class="txt-adt" title="Adultes"></i>
                  <span class="valChildrenhotel" title="Enfants"></span> <i class="txt-enf" title="Enfants"></i>
                  <span class="valInfantshotel" title="B&eacute;b&eacute;s"></span> <i class="txt-beb" title="B&eacute;b&eacute;s"></i> 
                  <i class="fas fa-chevron-down float-right" title="Modifier occupation" style="line-height: 40px;"></i>
                </div>
                <div style="display: none;" class="guests">
                  <div class="button-save out valider">
                    <div class=" d-block d-sm-none mob-men ">
                      <i class="fas fa-arrow-left  pr-1" aria-hidden="true"></i>
                      <span class="valRoomstshotel" title="Chambres"></span> <i class="txt-room" title="Chambres"></i>
                      <span class="valAdultshotel" title="Adultes"></span> <i class="txt-adt" title="Adultes"></i>
                      <span class="valChildrenhotel" title="Enfants"></span> <i class="txt-enf" title="Enfants"></i>
                      <span class="valInfantshotel" title="B&eacute;b&eacute;s"></span> <i class="txt-beb" title="B&eacute;b&eacute;s"></i> 
                    </div>
                    <div class="d-none d-sm-block ">
                      <span>S&eacute;lection des chambres et des passagers</span>
                      <i class="fas fa-times float-right" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="rooms">
                    
                      <div class="roomItem row ">
                        <div class="form-group room-lab  bg-primary col-12">
                          <label>Chambre 1</label>                              
                        </div>
                        <div class="form-group adults col-md-4 col-4">
                          <label>Adulte(s)</label>
                          <select name="adults1" id="adults_1" class="form-control adultshotel">
                            <option value="0" >0</option>
                              <option value="1" >1</option>
                              <option value="2"  selected >2</option>
                              <option value="3" >3</option>
                              <option value="4" >4</option>
                              <option value="5" >5</option>
                              <option value="6" >6</option>
                          </select>
                        </div>
                        
                        <div class="form-group children col-md-4 col-4">
                          <label>Enfant(s)</label>
                          <select name="children1" id="children_1" class="form-control childrenhotel">
                              <option value="0"  selected >0</option>
                              <option value="1" >1</option>
                              <option value="2" >2</option>
                              <option value="3" >3</option>
                          </select>
                          <span class="text-dark">(2-10 ans)</span>
                      </div>

                        <div class="form-group infants col-md-4 col-4">
                          <label>Lits b&eacute;b&eacute;</label>
                          <select name="infant1" id="infant_1" class="form-control infantshotel">
                            <option value="0"  selected >0</option>
                            <option value="1" >1</option>
                            <option value="2" >2</option>
                            <option value="3" >3</option>
                          </select>
                          <span class="text-dark">(&lt; 2 ans)</span>
                        </div>

                        <div class="form-group agechild row col-md-12">
                            
                            <div id="ages_1" class="childageItem col-4">
                              <label for="age_1_1">Age enf.1</label>
                              <select class="form-control" name="age1_1" id="age_1_1">
                                <option value="" selected>-?-</option>
                                
                                    <option value="2" >2</option>
                                
                                    <option value="3" >3</option>
                                
                                    <option value="4" >4</option>
                                
                                    <option value="5" >5</option>
                                
                                    <option value="6" >6</option>
                                
                                    <option value="7" >7</option>
                                
                                    <option value="8" >8</option>
                                
                                    <option value="9" >9</option>
                                
                                    <option value="10" >10</option>
                                
                                    <option value="11" >11</option>
                                
                              </select>
                            </div>
                            
                            <div id="ages_2" class="childageItem col-4">
                              <label for="age_2_1">Age enf.2</label>
                              <select class="form-control" name="age2_1" id="age_2_1">
                                <option value="" selected>-?-</option>
                                
                                    <option value="2" >2</option>
                                
                                    <option value="3" >3</option>
                                
                                    <option value="4" >4</option>
                                
                                    <option value="5" >5</option>
                                
                                    <option value="6" >6</option>
                                
                                    <option value="7" >7</option>
                                
                                    <option value="8" >8</option>
                                
                                    <option value="9" >9</option>
                                
                                    <option value="10" >10</option>
                                
                                    <option value="11" >11</option>
                                
                              </select>
                            </div>
                            
                            <div id="ages_3" class="childageItem col-4">
                              <label for="age_3_1">Age enf.3</label>
                              <select class="form-control" name="age3_1" id="age_3_1">
                                <option value="" selected>-?-</option>
                                
                                    <option value="2" >2</option>
                                
                                    <option value="3" >3</option>
                                
                                    <option value="4" >4</option>
                                
                                    <option value="5" >5</option>
                                
                                    <option value="6" >6</option>
                                
                                    <option value="7" >7</option>
                                
                                    <option value="8" >8</option>
                                
                                    <option value="9" >9</option>
                                
                                    <option value="10" >10</option>
                                
                                    <option value="11" >11</option>
                                
                              </select>
                            </div>
                            
                          </div>
                        <div class="delete-room">
                          <a href="javascript:void(0)" class="del  text-warning"> <i class="far fa-trash-alt"></i> </a>
                        </div>
                                                  
                      </div>
                     
                  </div>
                    <div class="search-footer py-2">
                      <div class="row align-items-center">
                        <div class="col-md-7 col-8 text-left "> 
                          <a href="javascript:void(0)" class="add  add-room "><i class="fas fa-plus-circle pr-1"></i>Ajouter une chambre</a> 
                        </div>
                        <div class="col-md-5 col-4 text-right">
                          <div class="btn  btn-warning button-save valider v-out btn-sm rounded-0">Valider</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </span> 
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-2 pl-md-1 align-self-center pt-3">
      <button type="submit" class="btn btn-primary btn-block  btn-lg rounded-25 shadow-none "><i class="fas fa-search fa-lg"></i></button>
    </div>
  </div>

</form>
     </div>
  </div>
</div>
</section>

<!-- Bloc mobile -->
<section class=" d-md-none d-lg-none">
  <div class="container">
    <div class="row no-gutters filter border py-2">
        <div class="col-6 align-self-center ">
          <a class=" btn-block text-center border-right " data-toggle="collapse" href="#coll-filter-mob" aria-expanded="false" aria-controls="coll-filter-mob"> <i class="fas fa-sliders-h pr-1"></i>Filtrer</a>
      </div>
      <div class="col-6 align-self-center ">
         <a class="btn-block text-center border-left"   data-toggle="collapse" href="#coll-sort-mob" aria-expanded="false" aria-controls="coll-sort-mob">
          <i class="fas fa-sort pr-2"></i> Trier</a>
      </div>
    </div>
  </div>
</section>
<!-- Bloc mobile -->
<section class="py-md-5 py-3 hiddenBox">
  <div class="container" id="hotels">
    <div class="row">
      <div class="col-md-3">
        <div class="collapse d-md-block " id="coll-filter-mob">
          <div class="card shadow bg-light rounded-75">
              <!-- bloc mobile  -->
              <div class="card-header bg-light  dashed-bleu">
                <div class="d-flex">
                  <div class="align-self-center">
                    <a class="pr-1 hidden-md" data-toggle="collapse" href="#coll-filter-mob" aria-expanded="true" aria-controls="coll-filter-mob">
                      <i class="fas fa-chevron-left"></i>
                    </a>
                    <span class="h4">Filtrer </span>
                  </div>
                 
                  <button type="button" class="btn btn-outline-info reset rounded-25 btn-sm ml-auto">Réinitialiser<div class="ripple-container"></div></button>
                 
                </div>
              </div>
              <!--bloc mobile-->
            <div class="card-body ">
              <div class="dashed-bleu  mb-3 pb-3 ">
                <div class="panel panel-default">
                  <div role="tab" id="headingOne">
                    <h4 class="panel-title h5"><a role="button" class="text-dark" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapse1_10" aria-expanded="true" aria-controls="collapse1_10"> Nom d'hôtel <i class="fas fa-angle-down  float-right"></i>
                    </a>  </h4>
                  </div>              
                  <div id="collapse1_10" class="panel-collapse noScroll collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body ">
                      <div class="input-group">
                        <input class="form-control name-hotel fl-hotelName" type="search" name="words" id="words" placeholder="Mot clés">
                        <span class="input-group-btn">
                          <input class="btn btn-primary rounded-0 fl h-100 btn-sm" type="button" value="OK">
                        </span>
                      </div>                    
                    </div>
                  </div>
                </div>
              </div>
              <div class="dashed-bleu   mb-3 pb-3">
                <div class="panel panel-default">
                    <div  role="tab" id="headingThree">
                      <h4 class="panel-title h5"><a role="button" class="text-dark " data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapse3_10" aria-expanded="true" aria-controls="collapse3_10">Budget <Budget class="fas fa-angle-down  float-right"></Budget></a></h4>
                    </div>
                    <div id="collapse3_10" class="panel-collapse noScroll collapse show" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                        
                        <div class="row mt-3 fl-budget1" id="filter_price_slider">
                          
                          <div class="col-md-6">Prix chambre</div>
                          <div class="col-md-6 text-right"><span class="maxP font-weight-500 text-bleu-clair"></span></div>
                          <div class="col-md-12 ml-2 mt-2 ">
                            <input type="hidden" class="slider" id="customRange11" type="range">
                          </div>
                        </div>  
                      </div>
                    </div>
                  </div>
              </div>
              <div class="dashed-bleu   mb-3 pb-3">
                <div class="panel panel-default">
                  <div role="tab" id="headingTwo">
                    <h4 class="panel-title h5"><a role="button" class="text-dark" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                      Nombre d'étoiles <i class="fas fa-angle-down  float-right"></i></a></h4>
                  </div>
                  <div id="collapse2" class="panel-collapse noScroll collapse show" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body fl-rating">
                      <div id="ballsWaveG">
                        <div id="ballsWaveG_1" class="ballsWaveG"></div>
                        <div id="ballsWaveG_2" class="ballsWaveG"></div>
                        <div id="ballsWaveG_3" class="ballsWaveG"></div>
                        <div id="ballsWaveG_4" class="ballsWaveG"></div>
                        <div id="ballsWaveG_5" class="ballsWaveG"></div>
                        <div id="ballsWaveG_6" class="ballsWaveG"></div>
                        <div id="ballsWaveG_7" class="ballsWaveG"></div>
                        <div id="ballsWaveG_8" class="ballsWaveG"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="dashed-bleu   mb-3 pb-3">
                <div class="panel panel-default">
                  <div role="tab" id="heading5">
                    <h4 class="panel-title h5"><a role="button" class=" text-dark" data-toggle="collapse" data-parent="#accordion"  href="#collapse5" aria-expanded="false" aria-controls="collapse5"> Types de pension<i class="fas fa-angle-down  float-right"></i>
                    </a></h4>
                  </div>
                  <div id="collapse5" class="panel-collapse noScroll collapse show" role="tabpanel" aria-labelledby="heading5">
                    <div class="panel-body fl-boards">
                      <div id="ballsWaveG">
                        <div id="ballsWaveG_1" class="ballsWaveG"></div>
                        <div id="ballsWaveG_2" class="ballsWaveG"></div>
                        <div id="ballsWaveG_3" class="ballsWaveG"></div>
                        <div id="ballsWaveG_4" class="ballsWaveG"></div>
                        <div id="ballsWaveG_5" class="ballsWaveG"></div>
                        <div id="ballsWaveG_6" class="ballsWaveG"></div>
                        <div id="ballsWaveG_7" class="ballsWaveG"></div>
                        <div id="ballsWaveG_8" class="ballsWaveG"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>            
              <div class="mb-3 pb-3">
                <div class="panel panel-default">
                  <div role="tab" id="heading4">
                    <h4 class="panel-title h5"><a role="button" class=" text-dark" data-toggle="collapse" data-parent="#accordion"  href="#collapse4" aria-expanded="false" aria-controls="collapse4"> Th&eacute;mes <i class="fas fa-angle-down  float-right"></i>
                    </a></h4>
                  </div>
                  <div id="collapse4" class="panel-collapse noScroll collapse " role="tabpanel" aria-labelledby="heading4">
                    <div class="panel-body fl-themes">
                      <div id="ballsWaveG">
                        <div id="ballsWaveG_1" class="ballsWaveG"></div>
                        <div id="ballsWaveG_2" class="ballsWaveG"></div>
                        <div id="ballsWaveG_3" class="ballsWaveG"></div>
                        <div id="ballsWaveG_4" class="ballsWaveG"></div>
                        <div id="ballsWaveG_5" class="ballsWaveG"></div>
                        <div id="ballsWaveG_6" class="ballsWaveG"></div>
                        <div id="ballsWaveG_7" class="ballsWaveG"></div>
                        <div id="ballsWaveG_8" class="ballsWaveG"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer box-fixed  p-0 pb-2 pb-md-0  mt-2 mt-md-0 hidden-md">
              <div class="row mx-2 mx-md-0">
                <div class=" mt-2 mt-md-0 col-6 text-center ">
                  <a class="btn btn-warning  rounded-25 btn-apply btn-block" data-toggle="collapse" href="#coll-filter-mob" aria-expanded="true" aria-controls="coll-filter-mob">
                    Appliquer
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="collapse d-md-block" id="coll-sort-mob">
          <div class="  mb-3  thead-filtre card shadow p-3 border-right-yellow rounded-75">
            <div class="row">
              <div class="col-7 align-self-center">
                
                  <h3 class="text-dark mb-0 font-14 "><span class="view total"></span> <span class="txt-hotel"></span></h3>
                
              </div>
              <div class="col-md-5 col-12 text-right sort d-flex">
                <span class="mr-2 w-50 align-self-center hidden-sm">
                  Trier par
                </span>
                <select id="sortSelect" class="form-control rounded-75 sortSelect">
                  <option selected value="score:asc"> Hôtels recommandés</option>
                  <option value="price:asc"> Prix moins cher au plus cher</option>
                  <option value="price:desc">Prix  plus cher au moins cher</option>
                  <option value="name:asc">Nom d'hôtel (A à Z) </option>
                  <option value="name:desc">Nom d'hôtel  (Z à A)</option>
                  <option value="rating:asc">Nombre d'étoiles (Bas en haut)</option>
                  <option value="rating:desc">Nombre d'étoiles (Haut en bas)</option>
                </select>     
              </div>
              </div>
            </div>
          </div>

        <!-- Begin Map -->
        <div class="collapse" id="collapseMap">
          <div id="googleMap" class="map googleMap"></div>
        </div>
        <!-- End Map -->

        <div class="load text-center mb-4"  style="display: none;"> 
          <img src="/images/search.png" class="my-3 element">
          <div class="font-20">Loading ...</div>
        </div>
        <!-- Begin Card 1 list -->
        <div id="results">
          <h2 class=" h4 font-weight-500 mb-0 text-white">  bonjourrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr </h2>
        </div>
        <div class="text-center"><a href="javascript:void(0)" class="btn btn-outline-info rounded-25 see-more-hotels" style="display: none;">Voir plus d'hôtels <i class="fas fa-chevron-down pl-1"></i></a></div>
        
      </div>
    </div>
    </div>
  </div>
</section>

<section  id="loading-result">
  <div class="container">
    <div class="row justify-content-center" >
      <div class="col-md-8">
        <div class="card rounded-75 background-load" >
          <div class="card-body">
            <div class="row  justify-content-center">
              <div class="col-md-8 text-center font-weight-500 text-dark">                    
                <div class="lds-dual-ring">     
                  <img src="/images/logo-vert.png" alt="voyages2000" title="" class="img-fluid" width="180">
                </div>
                
                  <div class="wainting-box">
                    <div>
                      <p class="my-3">Cela peut durer quelques secondes, merci de patienter</p>
                      <p class="text-center">Nous cherchons les h&ocirc;tels &agrave; Hammamet, Tunisie</p>
                    </div>
                    <div class="text-center mb-2">
                      <span class="px-1"><i class="far fa-calendar-alt pr-2"></i> Du </span>02 août 2021
                      <span class="px-1"><i class="far fa-calendar-alt pr-2"></i> Au </span>03 août 2021
                      <span class="px-1 text-center"><i class="far fa-moon pr-2"></i>1 nuit
                      </span>
                    </div>
              
                    <p class=" text-center mb-2">
                      
                        <i class="fas fa-users pr-2"></i>2 adultes 
                    </p>
                  </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  

<section class="py-md-5 py-3">

  
<!-- body here mar -->
    

<p><%= message %></p>



  <% for (let ev of listhotel) { %>
      
         

         <div class="row"><div class="col-md-3 col-5 pr-0"><figure class="position-relative mb-0"><a href="/hotels/hotel.cfm?referer=search&amp;hotelId=100116945" class="link hotel" value="100116945"><img src="https://1915023314.rsc.cdn77.org/photos/16945/holiday-village-manar.jpg" data-original="https://1915023314.rsc.cdn77.org/photos/16945/holiday-village-manar.jpg" class=" lazy img-fluid h-hotel rounded-top-bottom-radius" style=""></a></figure></div><div class="col-md-6 col-7 box-info-htl py-3  d-md-block d-flex flex-wrap"><div class="mb-2"><h2 class="h3"><a href="/hotels/hotel.cfm?referer=search&amp;hotelId=100116945" class="hotel text-dark" value="100116945"><%=ev.name %></a></h2><div class="mb-2"><small class="rating font-14 mr-md-1"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></small><span class="place  text-info"><span class="me-md-2"><i class="fas fa-map-marker-alt px-1"></i>Hammamet, Route Touristique Merazga</span></span></div><div class=" themes my-2 hidden-sm"><span class="mr-1 mb-2 badge badge-dark-outline font-weight-500 font-12">Luxe</span> <span class="mr-1 mb-2 badge badge-dark-outline font-weight-500 font-12">Famille</span> <span class="mr-1 mb-2 badge badge-dark-outline font-weight-500 font-12">Wellness</span> <span class="mr-1 mb-2 badge badge-dark-outline font-weight-500 font-12">Eco-friendly</span> <span class="mr-1 mb-2 badge badge-dark-outline font-weight-500 font-12">Coup de coeur</span> </div></div><div class="hidden-md ml-auto mt-auto"><div class="text-right text-danger"><div class="font-weight-600 font-20">660.00 <small> TND</small></div></div><div class=" align-self-center text-right mt-3"><a class="link-search btn btn-warning rounded-25 btn-sm" data-toggle="collapse" href="#plusInfos_100116945_0" aria-expanded="false" aria-controls="plusInfos_100116945_0">Chambres &amp; Tarifs </a></div></div></div><div class="col-md-3 align-self-center text-center hidden-sm "><div class="mt-md-auto p-3  w-100  text-center d-flex d-md-block"><div><div class="font-weight-600 font-14 mb-md-2  align-self-center mr-1 mr-md-0">A partir de</div><div class="font-weight-600 font-20 mb-md-2">660.00 <small> TND</small></div></div><div class="ml-auto align-self-center"><a class="link-search btn btn-warning rounded-25 btn-sm" data-toggle="collapse" href="#plusInfos_100116945_0" aria-expanded="false" aria-controls="plusInfos_100116945_0">Chambres &amp; Tarifs </a></div></div></div></div>
         
      
  <% }; %>

         

  <div class="container">
    <div class="no-results" style="display: none;">
      <div class="alert alert-warning"> 
        Offre n'est plus disponible, Veuillez s'il vous pla&icirc;t refaire votre recherche
      </div>
    </div>   
  </div>
</section>

<!-- Footer -->
<footer class="hidden-md bg-dark  p-3 footer-mobile"> 
  <div class="row   text-white">
    <div class="col-12">
          <div class="follow_us">
            <ul class="mb-2">
              <li>   <span class="font-16">Suivez-nous</span> </li>
              <li><a target="_blank" href="https://www.facebook.com/Voyages2000.com.tn/" rel="nofollow"><img src="/images/facebook.png" alt="fb"></a></li>
              <li><a target="_blank" href="https://twitter.com/voyages2000?lang=fr" rel="nofollow"><img src="/images/twitter.png" alt="twit"></a></li>   
              <li><a target="_blank" href="https://www.instagram.com/voyage2000tunisie/?hl=fr" rel="nofollow"><img src="/images/instagram.png" alt="twit"></a></li>   
            </ul>
          </div>
     </div>
    <div class="col-12 align-items-center ">
       <p class="mb-1"> &copy; 2021 Voyages 2000 - Tous droits r&eacute;serv&eacute;s.</p>
    </div>
  </div>
</footer>


<!-- Footer -->
  <footer class="bg-dark py-3 hidden-sm">
    <div class="container">
      <div class="row   text-white mb-3">
            <div class="col-md-6 d-flex align-items-center ">
              <img src="/images/logo-white.png" alt="voyages2000" title="" class="img-fluid">
            </div>
            <div class="col-md-3 text-md-right ">
                  <div class="follow_us">
                     <span><i class="fas fa-lock pr-1"></i> Paiement securis&eacute;</span>
                    <ul>
                      <li><img src="/images/card-e.png" alt="Paiement"></li>    
                    </ul>
                  </div>
            </div>
             <div class="col-md-3 text-md-right">
                  <div class="follow_us">
                     <span>Suivez-nous</span>
                    <ul>
                      <li><a target="_blank" href="https://www.facebook.com/Voyages2000.com.tn/" rel="nofollow"><img src="/images/facebook.png" alt="fb"></a></li>
                      <li><a target="_blank" href="https://twitter.com/voyages2000?lang=fr" rel="nofollow"><img src="/images/twitter.png" alt="twit"></a></li>   
                      <li><a target="_blank" href="https://www.instagram.com/voyage2000tunisie/?hl=fr" rel="nofollow"><img src="/images/instagram.png" alt="twit"></a></li>   
                    </ul>
                  </div>
             </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4 text-white">
          <div class=" mb-3 border-left-yellow pl-2">
              <span> 
                Agence Tunis : 29 Rue du Japon Montplaisir, 1073 Tunis-Tunisie
              </span>
              <div> Tel:<a class="text-white" href="tel:+21671901820 ">   +216 71 901 820   </a></div>
          </div>
           <div class=" mb-3 border-left-yellow pl-2">
              <span > Agence Yasmine Hammamet : Bir Elobbitta  </span> 
              <div> 
                  Tel : <a class="text-white" href="tel:+21672226916">   +216 72 226 916 </a>
              </div>
            </div>
           <div class=" mb-3 border-left-yellow pl-2">
              <span> Agence Djerba : Immeuble Souad, Route sidi Mahrez  </span> 
              <div> 
                 Tel : <a class="text-white" href="tel:+21675732606">   +216 75 732 606    </a>   
              </div>
            </div>
            <div class=" mb-3 border-left-yellow pl-2">
              <span> Agence Sousse : Bd.14 Janvier Immeuble Misk Ellil 4051, Khezama Sousse. </span> 
              <div> 
                 Tel : <a class="text-white" href="tel:+21673275420">   +216 73 275 420  </a>
              </div>
            </div>
        </div>
        <div class="col-md-8">
          <div class="row">
              <div class="col-md-4">
                    <div class="font-weight-600 mb-2 mt-1 title-h text-warning border-left-yellow pl-2"> Hôtels </div>
                    <ul class="links p-0 list-unstyled ">
                      <li><a href="/hotels-tunis.html">Hôtels Tunis</a></li>
                      <li><a href="/hotels-djerba.html">Hôtels Djerba</a></li>
                      <li><a href="/hotels-hammamet.html">Hôtels Hammamet</a></li>
                      <li><a href="/hotels-tozeur.html">Hôtels Tozeur</a></li>
                      <li><a href="/hotels-tabarka.html">Hôtels Tabarka</a></li>
                      <li><a href="/hotels-sousse.html">Hôtels Sousse</a></li>
                      <li><a href="/hotels-monastir.html">Hôtels Monastir</a></li>
                      <li><a href="/hotels-mahdia.html">Hôtels Mahdia</a></li>
                    </ul>
              </div>
              <div class="col-md-4">
                <div class="font-weight-600 mb-2 mt-1 title-h text-warning border-left-yellow pl-2"> Promos </div>
                    <ul class="links p-0 list-unstyled ">
                  <!-- <li><a href="/info/promotions-derniere-minute.html">Promotions last minute</a></li>      -->   
                      <li><a href="/hotels-recommendes.html">Hôtels recommandés</a></li>
                      
                      <li><a href="/demande-a-la-carte.html">Demande à la carte</a></li>
                      
                      <li><a href="/promos-hotels/">Promos vacances </a></li>
                      <li><a href="https://www.maghrebecoto.tn/reservation/" target="_blank" rel="nofollow">Location de voitures </a></li>
                    </ul>
              </div>
              <div class="col-md-4">
                 <div class="font-weight-600 mb-2 mt-1 title-h text-warning border-left-yellow pl-2"> A propos </div>
                    <ul class="links p-0 list-unstyled ">
                      <li><a href="/info/qui-sommes-nous.html">Qui sommes-nous?</a></li>
                      <li><a href="/faq.html">Questions fréquentes (FAQ)</a></li>
                      <li><a href="/info/conditions-generale-vente.html">Conditions générales de vente</a></li>
                      <li><a href="/info/nos-partenaires.html">Nos partenaires</a></li>
                      <li><a href="https://voyages2000.pro/" rel="follow" target="_blank">Accès PRO</a></li>
                      <li><a href="/contact.html">Contact </a></li>
                    </ul>
              </div>
            </div>
        </div>
      </div>

      <div class="row   text-white">
            <div class="col-md-6 d-flex align-items-center ">
               <p class="mb-1"> &copy; 2021 Voyages 2000 - Tous droits r&eacute;serv&eacute;s.</p>
            </div>
            <div class="col-md-6 text-md-right d-none d-sm-block copyright">
                  <span>Powered BY <strong><a href="https://www.boosterbc.com/" title="Booster Business And Communication Votre partenaire technologique de vos projets e-tourisme et web mobile" target="_blank" class="text-white" rel="follow">Booster BC</a></strong></span>
            </div>
      </div>
    </div>
  </footer>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123241951-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123241951-1');
</script>
<!-- <script>
  let date = new Date(Date.now() + 86400000); //86400000ms = 1 jour
  date = date.toUTCString();

  //Crée ou met à jour un cookie 'user'
  document.cookie = 'user=Pierre; path=/; expires=' + date; 
console.log("test");
  //Supprime le cookie en lui passant une date d'expiration passée
  document.cookie = 'user=; path=/; expires=Thu, 01 Jan 1970 00:00:00 UTC'; 
</script> -->
  <!-- Facebook Pixel Code -->
<script defer>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '341833110718153');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=341833110718153&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
  
<!--/ Footer -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- Menu -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous">
</script>
<script> 
  var tagPage = 'hotels';
  var tabAd = new Array();
  var tabEnf = new Array();
  var tabInf = new Array();

  var lang="FR";  
  var currency = 'TND';

  var totnights = 'Total 1 nuit';

var rm = 1;

var totalpages = 1;
for (tt = 1; tt <= rm; tt++) {
  tabAd[tt] = $('#adults_' + tt).val();
  tabEnf[tt] = $('#children_' + tt).val();
  tabInf[tt] = $('#infant_' + tt).val();
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/bloodhound.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.formvalidation/0.6.1/js/formValidation.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.formvalidation/0.6.1/js/framework/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js"></script>
<!-- DatePicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/locales/bootstrap-datepicker.fr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.2/dist/sweetalert2.all.min.js"></script>


<script src="/hotels/data/data.cfm?v=44405.3130903" charset="UTF-8"></script>

<script src="/javascripts/commun.min.js?v=44405.3130903"></script>
<script src="/javascripts//pack.v34b4adb7cb.min.js?v=44405.3130903"></script>
<script src="/javascripts//pack.v64b4adb7cb.min.js?v=44405.3130903"></script>

<script>
  $(function(){
      startSearch('cityId=3&checkin=2021-08-02&checkout=2021-08-03&pax=2', '7DCEDF21A226434A0B0F787C74B0E68FED499253');
  });
</script>
</body>
</html>
