
<!DOCTYPE html>
<html lang="FR">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=6.0">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">

<title>Voyage 2000 agence de voyage, séjours & vacances pas cher</title>
<meta name="description" content="Avec Voyages 2000 planifiez vos vacances : bons plans voyages, promos vacances, séjours et réservation d'hotel en Tunisie et dans le monde." />
<meta name="keywords" content="hotels,voyages, tunisie" /> <link rel="canonical" href="https://www.voyages2000.com.tn/"> 
<meta name="facebook-domain-verification" content="zxna9b4nom19ho34q7v7122j2peo7f" />
<meta property="og:title" content="Agence de voyage Voyages2000 :leader des agences de voyages réceptives en Tunisie" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.voyages2000.com.tn/" />
<meta property="og:image" content="https://www.voyages2000.com.tn/dist/img/MeilleurespromoVoyages2000.jpg" />
<meta property="og:description" content="Voyages2000  Votre agence de voyage qui dispose un large choix des hôtels, maisons d’hôtes, résidences de charme et restaurants à vocation tourisme et loisirs sur toute la Tunisie" />
<meta property="fb:page_id" content="284084084955274"/>
<link rel="dns-prefetch" href="https://www.voyages2000.com.tn/">
<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Fonts -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

<link rel="stylesheet" href="stylesheets/commun.min.css?v=44405.3130903" type="text/css">
<link rel="stylesheet" href="stylesheets//bs4-image.css?v=44405.3130903" type="text/css">

<script type='application/ld+json'> 
{
  "@context": "http://www.schema.org",
  "@type": "WebSite",
  "name": "Voyages2000",
  "url": "https://www.voyages2000.com.tn/"
}
</script>
<script type='application/ld+json'> 
{
  "@context": "http://www.schema.org",
  "@type": "Organization",
  "name": "Voyages2000",
  "url": "https://www.voyages2000.com.tn/",
  "sameAs" : [
   "https://www.facebook.com/Voyages2000.com.tn/",
   "https://www.instagram.com/voyage2000tunisie/?hl=fr",
   "https://twitter.com/voyages2000?lang=fr"
  ],
  "logo": "https://www.voyages2000.com.tn/dist/img/logo-vert.png",
  "description": "Voyages 2000 dispose un large choix des hôtels, maisons d’hôtes, résidences de charme, restaurants et tout autre produit à vocation tourisme et loisirs sur toute la Tunisie",
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+216 71 901 820 "
  }
}
</script>
</head>
<body class="index-page">
  <!-- BEGIN header -->
  
<header> 
    <!-- Bloc only on PC  -->
    <div class=" d-none d-sm-block">
        <nav class="navbar  navbar-expand-md  navbar-dark navbar-principal  fixed-top"  >
          <div class="container">
              <a class="navbar-brand " href="/"><img src="images/logo-white.png" alt="voyages2000" title="" class="img-fluid"></a>
               <button class="navbar-toggler navbar-toggler-right align-self-center mt-3" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                 <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse flex-column ml-lg-0 ml-3" id="navbarCollapse">
                 <ul class="navbar-nav flex-row mb-3 ml-md-auto hidden-sm nav-hide-scroll ">
                      <li class="nav-item align-self-center mr-3">
                       <script type="text/javascript">
                          /*<![CDATA[*/
                          var emailriddlerarray=[105,110,102,111,64,118,111,121,97,103,101,115,50,48,48,48,46,99,111,109,46,116,110]
                          var encryptedemail_id87='' //variable to contain encrypted email 
                          for (var i=0; i<emailriddlerarray.length; i++)
                           encryptedemail_id87+=String.fromCharCode(emailriddlerarray[i])

                          document.write('<a href="mailto:'+encryptedemail_id87+'" class="nav-link ">info@voyages2000.com.tn</a>')
                          /*]]>*/
                        </script> 
                      </li>
                      <li class="nav-item">
                          
                          <a class="btn btn-warning rounded-25 font-14" href="tel:0021670029230" target="_blank">+216 70 02 92 30</a>
                     </li>
                  </ul>
                    <ul class="navbar-nav ml-md-auto">
                      <li class="nav-item active">
                      <a class="nav-link" href="/">Hôtels</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/maisons-dhotes.html">  Maisons d'hôtes</a>
                      </li>
                      
                      
                      
                        
                      
                      <li class="nav-item">
                          <a class="nav-link" href="/promos-hotels/">Promos</a>
                      </li>
                      
                       <li class="nav-item">
                          <a class="nav-link" href="/billetterie.html">Billeterie</a>
                      </li>
                       
                       
                      <li class="nav-item">
                          <a class="nav-link" href="/contact.html">Contact</a>
                      </li>
                    </ul>
              </div>
          </div>
        </nav>
    </div>
    <ul class="lg-bar2 list-unstyled d-none d-sm-block">
          <li>
              <script type="text/javascript">
                /*<![CDATA[*/

                /***********************************************
                * Encrypt Email script- Please keep notice intact
                * Tool URL: http://www.dynamicdrive.com/emailriddler/
                * **********************************************/
                <!-- Encrypted version of: tourisme8 [at] ***********.***.** //-->

                var emailriddlerarray=[116,111,117,114,105,115,109,101,56,64,118,111,121,97,103,101,115,50,48,48,48,46,99,111,109,46,116,110]
                var encryptedemail_id87='' //variable to contain encrypted email 
                for (var i=0; i<emailriddlerarray.length; i++)
                 encryptedemail_id87+=String.fromCharCode(emailriddlerarray[i])

                document.write('<a href="mailto:'+encryptedemail_id87+'"><img src="images/email.png" alt="email" class=""></a>')

                /*]]>*/
                </script>
          </li>
          <li>
              
              <a href="tel:0021670029230" target="_blank" rel="nofollow">+216 70 02 92 30</a>
            
          </li>
          <li>
              <a href="http://m.me/Voyages2000.com.tn" target="_blank" rel="nofollow">
                <img src="/images/messenger.png" alt="messenger" class="">
              </a>
          </li>
        <!--   <li>
         <a href="viber://chat?number=00213540331682" target="_blank">
          <img src="assets/img/viber.png" alt="viber" class=""> 
         </a>
             </li>  -->
    </ul>

    <!-- Bloc only on PC  -->

    <!-- Bloc only on Mobile  -->
    <div class=" d-block d-sm-none ">
      <div class="bg-white px-3 py-1  d-flex justify-content-between shadow">

        <a class="navbar-brand " href="/"><img src="images/logo-vert.png" alt="voyages2000" title="" class="img-fluid hidden-md text-center" width="120"></a> 
       <div class="ml-md-auto align-self-center">
          <div>
            
            <a href="tel:0021670029230" target="_blank" rel="nofollow">+216 70 02 92 30</a>
          </div>

          <div class="text-right"><a class="pl-2 align-self-center" data-toggle="collapse" href="#col-menu-mobile" role="button" aria-expanded="false" aria-controls="col-menu-mobile"> <i class="fas fa-bars text-dark text-center fa-2x"></i>  </a> </div>
        </div>
      </div>
        <div class="d-pc-visible bloc-mob collapse" id="col-menu-mobile" style="">
              <div class="pb-2 border-bottom">
                <div class="d-flex">
                    <span class="text-primary font-weight-600">  Menu </span>
                    <a class="ml-auto text-danger" data-toggle="collapse" href="#col-menu-mobile" aria-expanded="true" aria-controls="col-menu-mobile">
                       <i class="fas fa-times fa-lg"></i>
                     </a>
              </div>
            </div>
              <ul class="navbar-nav">
                <li class="nav-item active">
                <a class="nav-link" href="/">Hôtels</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/maisons-dhotes.html">  Maisons d'hôtes</a>
                </li>
                
                
                 
                 
                 <li class="nav-item">
                    <a class="nav-link" href="/billetterie.html">Billeterie</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/promos-hotels/">Promos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact.html">Contact</a>
                </li>
              </ul>
            </div>
    </div>
    <!-- Bloc only on Mobile  -->
</header>


<div class="covid-19 bg-info d-block d-sm-none ">
  <div class="container">
        <div class="text-white font-14">
          <i class="fas fa-info-circle fa-lg pr-2"></i> Votre sécurité est notre priorité.
          <a href="/info/corona-virus.html" target="_blank"  rel="noopener noreferrer" class="text-warning"><u> Consultez notre questionnaire sur la COVID-19.</u></a>
        </div>
    </div>
</div>
  <!-- END header -->
<section class="position-relative"> 
  <!-- Carousel Start -->
  <div id="full-width-height-simple-indicators" class="carousel slide bs4-carousel bs4-full-width-height bs4-indicators-simple swipe_x bs4-easeOutSine thumb_scroll_x  d-none d-sm-block" data-ride="carousel" data-pause="hover" data-duration="1500" data-interval="5000" data-keyboard="false" data-wrap="true" style=" height: 680px;">

    <!-- Indicators Start -->
      
            <ol class="carousel-indicators carousel-indicators-ip carousel-indicators-bottom-center" data-bgcolor="transparent" data-color="#949494">
                
                  <li data-target="#full-width-height-simple-indicators" data-slide-to="0" class="active">
                  <!-- Image -->
                  </li>
                  
                  <li data-target="#full-width-height-simple-indicators" data-slide-to="1" >
                  <!-- Image -->
                  </li>
                  
                  <li data-target="#full-width-height-simple-indicators" data-slide-to="2" >
                  <!-- Image -->
                  </li>
                  
                  <li data-target="#full-width-height-simple-indicators" data-slide-to="3" >
                  <!-- Image -->
                  </li>
                  
            </ol>
          
    <!-- Indicators End -->

    <!-- Carousel Inner Start -->
    <div class="carousel-inner" role="listbox">
     
            <div class="carousel-item  " role="option">
                <img src="//1813556256.rsc.cdn77.org/photos/content/gallery/gallery5405/slide-32.jpg" alt="Agence de voyage Voyages 2000" class="bs4-carousel-img">
                   <div class="carousel-caption d-none d-md-block">
                     <h1 class="font-weight-bold mb-3">Choisissez vos vacances selon vos envies</h1> 
                    <p class="h3">Nous sommes à votre écoute avec proximité et engagement</p> 
                  </div>
            </div>
          
            <div class="carousel-item  " role="option">
                <img src="//1813556256.rsc.cdn77.org/photos/content/gallery/gallery5405/slide-2.jpg" alt="Agence de voyage Voyages 2000" class="bs4-carousel-img">
                   <div class="carousel-caption d-none d-md-block">
                     <div class="font-weight-bold mb-3 h1">Vivez, voyagez, soyez aventureux</div>
                    <p class="h3">Voyages2000 vous propose les meilleures destinations aux meilleurs tarifs</p> 
                  </div>
            </div>
          
            <div class="carousel-item  " role="option">
                <img src="//1813556256.rsc.cdn77.org/photos/content/gallery/gallery5405/slide-1.jpg" alt="Agence de voyage Voyages 2000" class="bs4-carousel-img">
                   <div class="carousel-caption d-none d-md-block">
                     <div class="font-weight-bold mb-3 h1">Vous cherchez l’excellence</div>
                    <p class="h3">Nous mettons à votre disposition 55 ans d’expériences</p> 
                  </div>
            </div>
          
            <div class="carousel-item  " role="option">
                <img src="//1813556256.rsc.cdn77.org/photos/content/gallery/gallery5405/1920x550_header_inspirezmoi.jpg" alt="Agence de voyage Voyages 2000" class="bs4-carousel-img">
                   <div class="carousel-caption d-none d-md-block">
                     <div class="font-weight-bold mb-3 h1"></div>
                    <p class="h3"></p> 
                  </div>
            </div>
          

    </div>
    <!-- Carousel Inner End -->

    <!-- Arrow Left Start -->
    <a class="carousel-control-prev bs4-carousel-control carousel-control-ip carousel-control-x" href="#full-width-height-simple-indicators" data-slide="prev" data-color="rgba(150,150,150,0.3)">
      <!-- Icon -->
      <i class="fas fa-angle-left"></i>
    </a>
    <!-- Arrow Left End -->
    <!-- Arrow Right Start -->
    <a class="carousel-control-next bs4-carousel-control carousel-control-ip carousel-control-x" href="#full-width-height-simple-indicators" data-slide="next" data-color="rgba(150,150,150,0.3)">
      <!-- Icon -->
      <i class="fas fa-angle-right"></i>
    </a>
    <!-- Arrow Right End -->

  </div>
  <!-- Carousel End -->

   <!-- Moteur -->
    <div class="z-moteur w-100 ">
      <div class="container">
        <div class="row  align-items-center justify-content-center">
              <div class="col-md-8 align-self-center">
                  <div class="d-flex justify-content-center  " id="tab-pc">
                          <div class="tabcont ">
                            <ul class="nav nav-tabs" role="tablist">
                              <li class="nav-item" role="tab">
                                <a class=" nav-link active px-3" href="/">  <img src="images/hotel.png" alt="hotel-tn" class=" d-block d-sm-none  mx-auto mb-1"> Réservez votre hôtel</a>
                              </li>
                                
                            </ul>
                          </div>
                  </div>
                 <div class="p-md-3 bg-primary engine">
                      <div class="tab-content">
                        <div class="tab-pane in active  pt-3 px-3" role="tabpanel"> 
                            <div class="custom-engine">
                            

<form name="searchForm" class="searchForm" id="searchForm" action="/hotels/search" method="get" autocomplete="off">
  <input type="hidden" name="destinationId" id="destinationId"  value="">
  <input type="hidden" name="hotelId" id="hotelId" value="">
  <input type="hidden" name="rooms" value="1">
  <input type="hidden" name="token" value="7DCEDF21A226434A0B0F787C74B0E68FED499253">
      <div class="row">
        <div class="col-md-5  pr-md-0">
          <div class="form-group">
            <label for="locality" class="d-none">Destination</label>
            <input type="text" name="locality" id="locality" class="form-control tt-input" placeholder="Ville ou nom d'h&ocirc;tel" required autocomplete="off">
            <small class="msg-help"  style="display:none;">Veuillez s&eacute;lectionner une destination dans la liste</small>
          </div>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-8 pr-md-0  js-datepicker">
              <div class="row no-gutters">
                
                <div class="col-6">
                  <div class="form-group">
                    <label for="arrDate" class="d-none"></label>
                    <input name="arrDate" id="arrDate" placeholder="jj/mm/aaaa" class="form-control border-right bg-white" value="02/08/2021" readonly>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="depDate" class="d-none"></label>
                    <input name="depDate" id="depDate" placeholder="jj/mm/aaaa" class="form-control border-right  bg-white" value="03/08/2021" readonly>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="col-md-4 d-none d-sm-block">
                <div class="form-group"> 
                 <label for="nights" class="d-none"></label>                                        
                    <select id="nights" name="nights" class="form-control nights">
                        <option value="1">1 nuit</option>
                        <option value="2">2 nuits</option>
                        <option value="3">3 nuits</option>
                        <option value="4">4 nuits</option>
                        <option value="5">5 nuits</option>
                        <option value="6">6 nuits</option>
                        <option value="7">7 nuits</option>
                        <option value="8">8 nuits</option>
                        <option value="9">9 nuits</option>
                        <option value="10">10 nuits</option>
                        <option value="11">11 nuits</option>
                        <option value="12">12 nuits</option>
                        <option value="13">13 nuits</option>
                        <option value="14">14 nuits</option>
                        <option value="15">15 nuits</option>
                        <option value="16">16 nuits</option>
                        <option value="17">17 nuits</option>
                        <option value="18">18 nuits</option>
                        <option value="19">19 nuits</option>
                        <option value="20">20 nuits</option>
                        <option value="21">21 nuits</option>
                        <option value="22">22 nuits</option>
                        <option value="23">23 nuits</option>
                        <option value="24">24 nuits</option>
                        <option value="25">25 nuits</option>
                    </select>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
            <div class="col-md-6 pr-md-1">
              
                    <div class="form-group">
                       <label class="d-none" for="totalhotel"></label>
                        <div class="bord-1">
                          <span class="persons persons-v2">
                            <div class="text-left guests-select">
                              <div class="form-control totalhotel">
                                <span class="valRoomstshotel" title="Chambres"></span> <i class="txt-room" title="Chambres"></i>,
                                <span class="valAdultshotel" title="Adultes"></span> <i class="txt-adt" title="Adultes"></i>
                                <span class="valChildrenhotel" title="Enfants"></span> <i class="txt-enf" title="Enfants"></i>
                                <span class="valInfantshotel" title="Lits b&eacute;b&eacute;"></span> <i class="txt-beb" title="Lits b&eacute;b&eacute;"></i> 
                                <i class="fas fa-chevron-down float-right" title="Modifier occupation" style="line-height: 40px;"></i>
                              </div>
                            </div>
                              <div style="display: none;" class="guests  animated fadeInUp">
                                <div class="button-save out valider">
                                  <div class="d-none d-sm-block ">
                                    <span>S&eacute;lection des chambres et des passagers</span>
                                    <i class="fas fa-times float-right" aria-hidden="true"></i>
                                  </div>
                                  <div class="pb-2 border-bottom hidden-md">
                                      <div class="d-flex">
                                          <span class="text-primary font-weight-600">  Chambres et passagers  </span>
                                           <span class="ml-auto text-danger" > <i class="fas fa-times float-right" aria-hidden="true"></i> </span>
                                      </div>
                                  </div>
                                </div>
                                <div class="rooms">
                                  
                                  <div class="roomItem row ">
                                    <div class="form-group room-lab  bg-primary col-12">
                                      <label>Chambre</label>                       
                                    </div>
                                    <div class="form-group adults  col-4">
                                      <label>Adultes</label>
                                      <select class="form-control wide adultshotel" name="adults1" id="adults_1">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2" selected="">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                      </select>
                                    </div>                      
                                    <div class="form-group children  col-4">
                                      <label>Enfants</label>
                                      <select class="form-control wide childrenhotel" name="children1" id="children_1">
                                        <option value="0" selected="">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                      </select>
                                      <span class="text-dark">(2-10 ans)</span>
                                    </div>
                                    <div class="form-group children col-4">
                                      <label>Lits b&eacute;b&eacute;</label>
                                      <select class="form-control wide infantshotel" name="infant1" id="infant_1">
                                        <option value="0" selected>0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                      </select>
                                      <span class="text-dark">(&lt; 2 ans)</span>
                                    </div>
                                    <div class="form-group agechild  col-12 row">
                                      
                                      <div id="enfant-1" class="enfant-age form-group col-4">
                                        <label for="age_1_1">Age enf.1</label>
                                        <select class="form-control" name="age1_1" id="age_1_1">
                                          <option value="" selected>-?-</option>
                                          
                                          <option value="0">0</option>
                                          
                                          <option value="1">1</option>
                                          
                                          <option value="2">2</option>
                                          
                                          <option value="3">3</option>
                                          
                                          <option value="4">4</option>
                                          
                                          <option value="5">5</option>
                                          
                                          <option value="6">6</option>
                                          
                                          <option value="7">7</option>
                                          
                                          <option value="8">8</option>
                                          
                                          <option value="9">9</option>
                                          
                                          <option value="10">10</option>
                                          
                                          <option value="11">11</option>
                                          
                                        </select>
                                      </div>
                                      
                                      <div id="enfant-2" class="enfant-age form-group col-4">
                                        <label for="age_2_1">Age enf.2</label>
                                        <select class="form-control" name="age2_1" id="age_2_1">
                                          <option value="" selected>-?-</option>
                                          
                                          <option value="0">0</option>
                                          
                                          <option value="1">1</option>
                                          
                                          <option value="2">2</option>
                                          
                                          <option value="3">3</option>
                                          
                                          <option value="4">4</option>
                                          
                                          <option value="5">5</option>
                                          
                                          <option value="6">6</option>
                                          
                                          <option value="7">7</option>
                                          
                                          <option value="8">8</option>
                                          
                                          <option value="9">9</option>
                                          
                                          <option value="10">10</option>
                                          
                                          <option value="11">11</option>
                                          
                                        </select>
                                      </div>
                                      
                                      <div id="enfant-3" class="enfant-age form-group col-4">
                                        <label for="age_3_1">Age enf.3</label>
                                        <select class="form-control" name="age3_1" id="age_3_1">
                                          <option value="" selected>-?-</option>
                                          
                                          <option value="0">0</option>
                                          
                                          <option value="1">1</option>
                                          
                                          <option value="2">2</option>
                                          
                                          <option value="3">3</option>
                                          
                                          <option value="4">4</option>
                                          
                                          <option value="5">5</option>
                                          
                                          <option value="6">6</option>
                                          
                                          <option value="7">7</option>
                                          
                                          <option value="8">8</option>
                                          
                                          <option value="9">9</option>
                                          
                                          <option value="10">10</option>
                                          
                                          <option value="11">11</option>
                                          
                                        </select>
                                      </div>
                                      
                                    </div>
                                    <div class="delete-room">
                                      <a href="javascript:void(0);" class="del  text-warning"> <i class="far fa-trash-alt"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <div class="search-footer py-2">
                                  <div class="row align-items-center">
                                    <div class="col-md-7 col-8 text-left"><a href="javascript:void(0);" class="add add-room"><i class="fas fa-plus-circle pr-1"></i> <span class="text-black"> Ajouter une chambre </span></a> </div>
                                    <div class="col-md-5 col-4 text-right">
                                      <button class="btn  btn-warning button-save valider v-out btn-sm"> Valider</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </span>
                        </div>
                    </div>
              
            </div>
            
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary btn-block  btn-lg rounded-25 " aria-label="Left align">Rechercher</button>
            </div>
            
          </div>
</form>
                          </div>
                        </div>
                 </div>
              </div> 
           </div>
        </div>
      </div> 
      <!-- Moteur -->
</section>
<div class="covid-19 bg-info hidden-sm">
  <div class="container">
        <div class="text-white text-center">
          <i class="fas fa-info-circle fa-lg pr-2"></i> Votre sécurité est notre priorité.
          <a href="/info/corona-virus.html" target="_blank"  rel="noopener noreferrer" class="text-warning"><u> Consultez notre questionnaire sur la COVID-19.</u></a>
        </div>
    </div>
</div>
<section class="py-md-5" id="hotels-best"> 
  <div class="container">
    <h2 class="mb-md-3"><strong>Hôtels</strong> en Tunisie </h2> 
    <div class="row">
      <div class="col-md-5    d-md-flex align-items-stretch hidden-sm mb-3">
        <div class="card shadow">
          <img src="/images/tunisie.jpg" alt="tunisie" title="tunisie Voyages 2000" class="img-fluid">
          <div class="card-body bg-info text-white">
            <h3 class="font-weight-600"> Tunisie </h3> 
            <p>Bienvenue dans un pays où vous ferez le plein de ciel bleu et de soleil, dont vous découvrirez le patrimoine exceptionnel et les traditions originales, Voyages2000 vous propose des hôtels de hautes qualités à des prix abordables sur toute la Tunisie, Commençons par le nord tunisien avec ses grands espaces ensoleillés, passons au sud où se trouve la magie de la lumière, de l’air vivifiant, des espaces infinis et de la nudité pure des paysages désertiques. Sans oublié de passer par Sousse, Monastir et  Mahdia le long d’un littoral superbe, mer d’azur et longues plages de sable doré, sont à la fois de plaisantes stations balnéaires et des villes d’histoire et de tradition. </p>
            <div class="d-flex justify-content-center">
             <a href="/hotels-recommendes.html" class="btn btn-outline-light btn-sm rounded-25 ">Voir toutes les offres</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
          <div class="row">
              
                    <div class="col-md-6   d-flex align-items-stretch">
                      <div class="card shadow  offre-hotels mb-4 ">
                        <figure class="position-relative mb-0  ">
                           <img class="img-fluid h-160" src="https://1915023314.rsc.cdn77.org//photos/17148/Les colombes.jpg" alt="Les colombes">
                           <div class="price-box">
                              
                                  <div> <small>Dés</small> <span class="font-weight-600">75 </span> <small> DT en Demi Pension/nuit /pers  </small></div>
                               
                          </div>
                          
                        </figure>       
                        <div class="card-body ">               
                            <h3 class="h4"> <a href="/hotel/hammamet/Lescolombes.html" title="Les colombes" class="text-dark stretched-link">Les colombes</a>
                              <small class=" rating  d-inline-block">
                                
                                <i class="fa fa-star"></i>
                                
                                <i class="fa fa-star"></i>
                                
                                <i class="fa fa-star"></i>
                                
                              </small>
                            </h3>
                            <p class="place  mb-2 font-12 font-weight-500"> Hammamet - Tunisie </p>
                            
                            <p class="offre text-danger mb-2 font-12 font-weight-500">jusqu'à -50% & 2 enfants Gratuits </p>
                              
                                <span class="label label-primary"> Demi pension</span>
                             
                        </div>
                      </div>
                    </div>
              
                    <div class="col-md-6   d-flex align-items-stretch">
                      <div class="card shadow  offre-hotels mb-4 ">
                        <figure class="position-relative mb-0  ">
                           <img class="img-fluid h-160" src="https://1915023314.rsc.cdn77.org//photos/16946/206226539.jpg" alt="Royal kenz thalasso and spa">
                           <div class="price-box">
                              
                                  <div> <small>Dés</small> <span class="font-weight-600">110 </span> <small> DT en All Inclusive Soft/nuit /pers  </small></div>
                               
                          </div>
                          
                        </figure>       
                        <div class="card-body ">               
                            <h3 class="h4"> <a href="/hotel/sousse/royalkenz.html" title="Royal kenz thalasso and spa" class="text-dark stretched-link">Royal kenz thalasso and spa</a>
                              <small class=" rating  d-inline-block">
                                
                                <i class="fa fa-star"></i>
                                
                                <i class="fa fa-star"></i>
                                
                                <i class="fa fa-star"></i>
                                
                                <i class="fa fa-star"></i>
                                
                              </small>
                            </h3>
                            <p class="place  mb-2 font-12 font-weight-500"> Sousse - Tunisie </p>
                            
                            <p class="offre text-danger mb-2 font-12 font-weight-500">jusqu'à -40% & 1er enfant - 11 ans Gratuit </p>
                              
                                <span class="label label-primary"> Soft All Inclusive</span>
                             
                        </div>
                      </div>
                    </div>
              
                    <div class="col-md-6   d-flex align-items-stretch">
                      <div class="card shadow  offre-hotels mb-4 ">
                        <figure class="position-relative mb-0  ">
                           <img class="img-fluid h-160" src="https://1915023314.rsc.cdn77.org//photos/17062/Thabraca-Thalasso-Diving-1.jpg" alt="Thabraca thalasso & diving">
                           <div class="price-box">
                              
                                  <div> <small>Dés</small> <span class="font-weight-600">148 </span> <small> DT en All Inclusive Soft/nuit /pers  </small></div>
                               
                          </div>
                          
                        </figure>       
                        <div class="card-body ">               
                            <h3 class="h4"> <a href="/hotel/tabarka/thabraca.html" title="Thabraca thalasso & diving" class="text-dark stretched-link">Thabraca thalasso & diving</a>
                              <small class=" rating  d-inline-block">
                                
                                <i class="fa fa-star"></i>
                                
                                <i class="fa fa-star"></i>
                                
                                <i class="fa fa-star"></i>
                                
                                <i class="fa fa-star"></i>
                                
                              </small>
                            </h3>
                            <p class="place  mb-2 font-12 font-weight-500"> Tabarka - Tunisie </p>
                            
                            <p class="offre text-danger mb-2 font-12 font-weight-500">-30% Offre été 2021-Enfants - 4 ans Gratuit </p>
                              
                                <span class="label label-primary"> Soft All Inclusive</span>
                             
                        </div>
                      </div>
                    </div>
              
                    <div class="col-md-6   d-flex align-items-stretch">
                      <div class="card shadow  offre-hotels mb-4 ">
                        <figure class="position-relative mb-0  ">
                           <img class="img-fluid h-160" src="https://1915023314.rsc.cdn77.org//photos/17060/nerolia-.jpg" alt="Nerolia hotel & spa">
                           <div class="price-box">
                              
                                  <div> <small>Dés</small> <span class="font-weight-600">94 </span> <small> DT en Demi Pension/nuit /pers  </small></div>
                               
                          </div>
                          
                        </figure>       
                        <div class="card-body ">               
                            <h3 class="h4"> <a href="/hotel/monastir/nerolia.html" title="Nerolia hotel & spa" class="text-dark stretched-link">Nerolia hotel & spa</a>
                              <small class=" rating  d-inline-block">
                                
                                <i class="fa fa-star"></i>
                                
                                <i class="fa fa-star"></i>
                                
                                <i class="fa fa-star"></i>
                                
                                <i class="fa fa-star"></i>
                                
                              </small>
                            </h3>
                            <p class="place  mb-2 font-12 font-weight-500"> Monastir - Tunisie </p>
                            
                            <p class="offre text-danger mb-2 font-12 font-weight-500">-35% Offre Exclusive été 2021-1er enfant -11 ans Gratuit </p>
                              
                                <span class="label label-primary"> Demi pension</span>
                             
                        </div>
                      </div>
                    </div>
                 
          </div>
      </div>
    </div>

    </div>
  </div>
</section>
<div class="motif-bloc hidden-sm">
    <svg width="250" height="250" xmlns="http://www.w3.org/2000/svg">
      <path d="M9.414 6.847c-10.242 61.891 6.022 99.937 48.794 114.136 64.157 21.298 77.75 56.573 67.694 113.764" stroke="#0e99aa" stroke-width="5" fill="none" fill-rule="evenodd" stroke-dasharray="10" stroke-linecap="round"></path>
    </svg>
  </div>

<section class=""> 
  <div class="container">
    <h2 class="mb-md-3"><strong>Top</strong> Destinations </h2> 
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          
                <div class="col-md-6   d-flex align-items-stretch">
                  <div class="card shadow  offre-hotels mb-4 ">
                      <figure class="position-relative mb-0  ">
                        <img class="img-fluid h-160" src="https://1915023314.rsc.cdn77.org//photos/17063/5e591fcfdca21o.jpg" alt="Iliade aqua park djerba">
                        <div class="price-box">
                            
                                <div> <small>Dés</small> <span class="font-weight-600">141 </span> <small> DT en All Inclusive /nuit /pers  </small></div>
                             
                        </div>
                        
                      </figure>       
                      <div class="card-body ">               
                          <h3 class="h4"> <a href="/hotel/djerba/iliadedjerba.html" title="Iliade aqua park djerba" class="text-dark stretched-link">Iliade aqua park djerba</a>
                            <small class=" rating  d-inline-block">
                              
                              <i class="fa fa-star"></i>
                              
                              <i class="fa fa-star"></i>
                              
                              <i class="fa fa-star"></i>
                              
                              <i class="fa fa-star"></i>
                              
                            </small>
                          </h3>
                          <p class="place  mb-2 font-12 font-weight-500"> Djerba - Tunisie </p>
                          
                          <p class="offre text-danger mb-2 font-12 font-weight-500">Jusqu'à -46%  & 1er enfant -11 ans Gratuit </p>
                            
                              <span class="label label-primary"> Tout inclus</span>
                           
                      </div>
                  </div>
                </div>
          
                <div class="col-md-6   d-flex align-items-stretch">
                  <div class="card shadow  offre-hotels mb-4 ">
                      <figure class="position-relative mb-0  ">
                        <img class="img-fluid h-160" src="https://1915023314.rsc.cdn77.org//photos/17221/caribbean-world-monastir_2.jpg" alt="Caribbean world monastir">
                        <div class="price-box">
                            
                                <div> <small>Dés</small> <span class="font-weight-600">90 </span> <small> DT en All Inclusive Soft/nuit /pers  </small></div>
                             
                        </div>
                        
                      </figure>       
                      <div class="card-body ">               
                          <h3 class="h4"> <a href="/hotel/monastir/caribbeanworldmonastir.html" title="Caribbean world monastir" class="text-dark stretched-link">Caribbean world monastir</a>
                            <small class=" rating  d-inline-block">
                              
                              <i class="fa fa-star"></i>
                              
                              <i class="fa fa-star"></i>
                              
                              <i class="fa fa-star"></i>
                              
                              <i class="fa fa-star"></i>
                              
                            </small>
                          </h3>
                          <p class="place  mb-2 font-12 font-weight-500"> Monastir - Tunisie </p>
                          
                          <p class="offre text-danger mb-2 font-12 font-weight-500">-40% Early Booking été 2021-1er enfant -12 ans Gratuit </p>
                            
                              <span class="label label-primary"> Soft All Inclusive</span>
                           
                      </div>
                  </div>
                </div>
          
                <div class="col-md-6   d-flex align-items-stretch">
                  <div class="card shadow  offre-hotels mb-4 ">
                      <figure class="position-relative mb-0  ">
                        <img class="img-fluid h-160" src="https://1915023314.rsc.cdn77.org//photos/17216/Caribbean-World-Mahdia-1.jpg" alt="Caribbean world  mahdia">
                        <div class="price-box">
                            
                                <div> <small>Dés</small> <span class="font-weight-600">144 </span> <small> DT en All Inclusive Soft/nuit /pers  </small></div>
                             
                        </div>
                        
                      </figure>       
                      <div class="card-body ">               
                          <h3 class="h4"> <a href="/hotel/mahdia/caribbeanworldMahdia.html" title="Caribbean world  mahdia" class="text-dark stretched-link">Caribbean world  mahdia</a>
                            <small class=" rating  d-inline-block">
                              
                              <i class="fa fa-star"></i>
                              
                              <i class="fa fa-star"></i>
                              
                              <i class="fa fa-star"></i>
                              
                              <i class="fa fa-star"></i>
                              
                            </small>
                          </h3>
                          <p class="place  mb-2 font-12 font-weight-500"> Mahdia - Tunisie </p>
                          
                          <p class="offre text-danger mb-2 font-12 font-weight-500">-40% Early Booking été 2021-1er enfant -12 ans Gratuit -Ouverture 22.07.21 </p>
                            
                              <span class="label label-primary"> Soft All Inclusive</span>
                           
                      </div>
                  </div>
                </div>
          
                <div class="col-md-6   d-flex align-items-stretch">
                  <div class="card shadow  offre-hotels mb-4 ">
                      <figure class="position-relative mb-0  ">
                        <img class="img-fluid h-160" src="https://1915023314.rsc.cdn77.org//photos/20008/tui-sensimar-ulysse-palace.jpg" alt="Ulysse djerba thalasso & spa">
                        <div class="price-box">
                            
                                <div> <small>Dés</small> <span class="font-weight-600">168 </span> <small> DT en Demi Pension/nuit /pers  </small></div>
                             
                        </div>
                        
                      </figure>       
                      <div class="card-body ">               
                          <h3 class="h4"> <a href="/hotel/djerba/ulyssedjerba.html" title="Ulysse djerba thalasso & spa" class="text-dark stretched-link">Ulysse djerba thalasso & spa</a>
                            <small class=" rating  d-inline-block">
                              
                              <i class="fa fa-star"></i>
                              
                              <i class="fa fa-star"></i>
                              
                              <i class="fa fa-star"></i>
                              
                              <i class="fa fa-star"></i>
                              
                              <i class="fa fa-star"></i>
                              
                            </small>
                          </h3>
                          <p class="place  mb-2 font-12 font-weight-500"> Djerba - Tunisie </p>
                          
                          <p class="offre text-danger mb-2 font-12 font-weight-500">-30% Offre été 2021 & 1er enfant -11 ans Gratuit </p>
                            
                              <span class="label label-primary"> Demi pension</span>
                           
                      </div>
                  </div>
                </div>
                 
          
      </div>
    </div>
    <div class="col-md-5  d-md-flex align-items-stretch mb-3 hidden-sm">
        <div class="card shadow">
          <img src="images/voyages.jpg" alt="voyages" title="" class="img-fluid">
          <div class="card-body bg-warning text-white">
            <h3 class="font-weight-600"> A propos Voyages2000 </h3> 
            <p class="mb-2">
              Voyages2000, leader des agences de voyages en Tunisie, met au service de ses clients et partenaires son savoir-faire et expertise acquise depuis plus de 55 ans. 
              Voyages2000 dispose d’un large choix d’hôtels, maisons d’hôtes, résidences de charme, et tout autre produit à vocation touristique et de loisirs sur toute la Tunisie.  
            </p>
            <p>
              Disposant de trois parcs, à Sousse à Hammamet et à Djerba, de plus de 60 véhicules, Voyages2000
              Propose à ses clients, toute sorte de transferts touristiques et une variété de circuits et excursions mettant en valeur les richesses du patrimoine historique tunisien.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="py-md-5"> 
  <div class="container">
    <h2 class="mb-md-3"><strong>Pourquoi</strong> choisir voyages 2000 ? </h2> 
    <div class="row">
        <div class="col-md-3 col-6 animated fadeIn text-center">
              <div class="p-2"><img src="images/1.png" alt="Meilleures destinations"></div>
              <div class="p-2">
                  <p class="mb-1 font-weight-500 "> Des meilleures destinations pour vos vacances </p>
              </div>
        </div>
         <div class="col-md-3 col-6 animated fadeIn text-center">
              <div class="p-2 "><img src="images/2.png" alt="Service client"></div>
              <div class="p-2">
                  <p class=" mb-1 font-weight-500  ">Service client à votre écoute  </p>
              </div>
        </div>
         <div class="col-md-3 col-6 animated fadeIn text-center">
              <div class="p-2"><img src="images/5.png" alt="Expérience  "></div>
              <div class="p-2">
                  <p class="mb-1 font-weight-500  "> Expérience    </p>
              </div>
        </div>
         <div class="col-md-3 col-6 animated fadeIn text-center">
              <div class="p-2"><img src="images/4.png" alt="Tarifs compétitifs"></div>
              <div class="p-2">
                  <p class="  mb-1 font-weight-500 "> Bénéficier des tarifs compétitifs </p>
              </div>
        </div>
    </div>
  </div>
</section>
 

<!-- END : forgetpwd form -->
  
<!-- BEGIN Newsletter -->
<section class="py-md-4 bg-light pt-xss-8"> 
  <div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="d-none d-sm-block ">
              <div class="d-flex flex-row">
                  <div class="align-self-center"> <div class="mr-3"> <i class="far fa-envelope fa-5x text-light"></i> </div> </div>
                  <div class="align-self-center">
                      <h4> Newsletter</h4> 
                      <p class="mb-0"> Recevez tous nos bons plans et promotions de derni&ecirc;re minute par e-mail!  </p>
                  </div>
             </div>
          </div>
        </div>
        <div class="col-md-5 mb-2 hidden-md">
           <h4 class="mb-0">  <i class="far fa-envelope fa-lg text-light mr-2"></i>  Newsletter</h4>  
        </div>
         <div class="col-md-7 news-box align-self-center">
            <form method="post" name="news" id="news" action="javascript:void(0)" class="news">
              <div class="row no-gutters">
                <div class="col-8">
                  <div class="form-group">
                     <input type="text" name="email" id="email" class="form-control rounded-0" placeholder="votre adresse mail" data-fv-field="email">
                  </div>
               </div>
                <div class="col-4">
                  <button type="submit" class="btn btn-info btn-news rounded-0 my-0 btn-block">S'inscrire</button> 
                </div>
              </div>
              <div class="result-news"></div>
            </form>
        </div>
    </div>
  </div>
</section>
<!-- END Newsletter -->
<!-- BEGIN FOOTER -->
<footer class="hidden-md bg-dark  p-3 footer-mobile"> 
  <div class="row   text-white">
    <div class="col-12">
          <div class="follow_us">
            <ul class="mb-2">
              <li>   <span class="font-16">Suivez-nous</span> </li>
              <li><a target="_blank" href="https://www.facebook.com/Voyages2000.com.tn/" rel="nofollow"><img src="/images/facebook.png" alt="fb"></a></li>
              <li><a target="_blank" href="https://twitter.com/voyages2000?lang=fr" rel="nofollow"><img src="/images/twitter.png" alt="twit"></a></li>   
              <li><a target="_blank" href="https://www.instagram.com/voyage2000tunisie/?hl=fr" rel="nofollow"><img src="/images/instagram.png" alt="twit"></a></li>   
            </ul>
          </div>
     </div>
    <div class="col-12 align-items-center ">
       <p class="mb-1"> &copy; 2021 Voyages 2000 - Tous droits r&eacute;serv&eacute;s.</p>
    </div>
  </div>
</footer>


<!-- Footer -->
  <footer class="bg-dark py-3 hidden-sm">
    <div class="container">
      <div class="row   text-white mb-3">
            <div class="col-md-6 d-flex align-items-center ">
              <img src="images/logo-white.png" alt="voyages2000" title="" class="img-fluid">
            </div>
            <div class="col-md-3 text-md-right ">
                  <div class="follow_us">
                     <span><i class="fas fa-lock pr-1"></i> Paiement securis&eacute;</span>
                    <ul>
                      <li><img src="/images/card-e.png" alt="Paiement"></li>    
                    </ul>
                  </div>
            </div>
             <div class="col-md-3 text-md-right">
                  <div class="follow_us">
                     <span>Suivez-nous</span>
                    <ul>
                      <li><a target="_blank" href="https://www.facebook.com/Voyages2000.com.tn/" rel="nofollow"><img src="/images/facebook.png" alt="fb"></a></li>
                      <li><a target="_blank" href="https://twitter.com/voyages2000?lang=fr" rel="nofollow"><img src="/images/twitter.png" alt="twit"></a></li>   
                      <li><a target="_blank" href="https://www.instagram.com/voyage2000tunisie/?hl=fr" rel="nofollow"><img src="/images/instagram.png" alt="twit"></a></li>   
                    </ul>
                  </div>
             </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4 text-white">
          <div class=" mb-3 border-left-yellow pl-2">
              <span> 
                Agence Tunis : 29 Rue du Japon Montplaisir, 1073 Tunis-Tunisie
              </span>
              <div> Tel:<a class="text-white" href="tel:+21671901820 ">   +216 71 901 820   </a></div>
          </div>
           <div class=" mb-3 border-left-yellow pl-2">
              <span > Agence Yasmine Hammamet : Bir Elobbitta  </span> 
              <div> 
                  Tel : <a class="text-white" href="tel:+21672226916">   +216 72 226 916 </a>
              </div>
            </div>
           <div class=" mb-3 border-left-yellow pl-2">
              <span> Agence Djerba : Immeuble Souad, Route sidi Mahrez  </span> 
              <div> 
                 Tel : <a class="text-white" href="tel:+21675732606">   +216 75 732 606    </a>   
              </div>
            </div>
            <div class=" mb-3 border-left-yellow pl-2">
              <span> Agence Sousse : Bd.14 Janvier Immeuble Misk Ellil 4051, Khezama Sousse. </span> 
              <div> 
                 Tel : <a class="text-white" href="tel:+21673275420">   +216 73 275 420  </a>
              </div>
            </div>
        </div>
        <div class="col-md-8">
          <div class="row">
              <div class="col-md-4">
                    <div class="font-weight-600 mb-2 mt-1 title-h text-warning border-left-yellow pl-2"> Hôtels </div>
                    <ul class="links p-0 list-unstyled ">
                      <li><a href="/hotels-tunis.html">Hôtels Tunis</a></li>
                      <li><a href="/hotels-djerba.html">Hôtels Djerba</a></li>
                      <li><a href="/hotels-hammamet.html">Hôtels Hammamet</a></li>
                      <li><a href="/hotels-tozeur.html">Hôtels Tozeur</a></li>
                      <li><a href="/hotels-tabarka.html">Hôtels Tabarka</a></li>
                      <li><a href="/hotels-sousse.html">Hôtels Sousse</a></li>
                      <li><a href="/hotels-monastir.html">Hôtels Monastir</a></li>
                      <li><a href="/hotels-mahdia.html">Hôtels Mahdia</a></li>
                    </ul>
              </div>
              <div class="col-md-4">
                <div class="font-weight-600 mb-2 mt-1 title-h text-warning border-left-yellow pl-2"> Promos </div>
                    <ul class="links p-0 list-unstyled ">
                  <!-- <li><a href="/info/promotions-derniere-minute.html">Promotions last minute</a></li>      -->   
                      <li><a href="/hotels-recommendes.html">Hôtels recommandés</a></li>
                      
                      <li><a href="/demande-a-la-carte.html">Demande à la carte</a></li>
                      
                      <li><a href="/promos-hotels/">Promos vacances </a></li>
                      <li><a href="https://www.maghrebecoto.tn/reservation/" target="_blank" rel="nofollow">Location de voitures </a></li>
                    </ul>
              </div>
              <div class="col-md-4">
                 <div class="font-weight-600 mb-2 mt-1 title-h text-warning border-left-yellow pl-2"> A propos </div>
                    <ul class="links p-0 list-unstyled ">
                      <li><a href="/info/qui-sommes-nous.html">Qui sommes-nous?</a></li>
                      <li><a href="/faq.html">Questions fréquentes (FAQ)</a></li>
                      <li><a href="/info/conditions-generale-vente.html">Conditions générales de vente</a></li>
                      <li><a href="/info/nos-partenaires.html">Nos partenaires</a></li>
                      <li><a href="https://voyages2000.pro/" rel="follow" target="_blank">Accès PRO</a></li>
                      <li><a href="/contact.html">Contact </a></li>
                    </ul>
              </div>
            </div>
        </div>
      </div>

      <div class="row   text-white">
            <div class="col-md-6 d-flex align-items-center ">
               <p class="mb-1"> &copy; 2021 Voyages 2000 - Tous droits r&eacute;serv&eacute;s.</p>
            </div>
            <div class="col-md-6 text-md-right d-none d-sm-block copyright">
                  <span>Powered BY <strong><a href="https://www.boosterbc.com/" title="Booster Business And Communication Votre partenaire technologique de vos projets e-tourisme et web mobile" target="_blank" class="text-white" rel="follow">Booster BC</a></strong></span>
            </div>
      </div>
    </div>
  </footer>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123241951-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123241951-1');
</script>
<!-- <script>
  let date = new Date(Date.now() + 86400000); //86400000ms = 1 jour
  date = date.toUTCString();

  //Crée ou met à jour un cookie 'user'
  document.cookie = 'user=Pierre; path=/; expires=' + date; 
console.log("test");
  //Supprime le cookie en lui passant une date d'expiration passée
  document.cookie = 'user=; path=/; expires=Thu, 01 Jan 1970 00:00:00 UTC'; 
</script> -->
  <!-- Facebook Pixel Code -->
<script defer>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '341833110718153');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=341833110718153&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
  
<!-- END FOOTER -->
<!-- Bootstrap and Font awesome -->
   
<script>
  
    var validDestination = true;
  
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- Date Picker  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/bloodhound.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.formvalidation/0.6.1/js/formValidation.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.formvalidation/0.6.1/js/framework/bootstrap.min.js"></script>
<!-- DatePicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.fr.min.js"></script>

<script src="javascripts/pack.v33b4adb7cb.min.js?v=44405.3130903"></script>
<script src="javascripts/commun.min.js?v=44405.3130903"></script>
<script src="javascripts/pack.v34b4adb7cb.min.js?v=44405.3130903"></script>
<script src="javascripts/pack.v45b4adb7cb.min.js?v=44405.3130903"></script>

<script>
    if(validDestination == false){
        $('.msg-help').show();
      } 
</script>
</body>
</html> 